<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juan Bautista</title>

    <!-- htmx -->
    <script src="/static/htmx.min.js"></script>
    <!-- tailwind -->
    <link rel="stylesheet" href="/static/output.css">
    <!-- basecoat -->
    <link rel="stylesheet" href="/static/basecoat.min.css">
    <script href="/static/basecoat.min.js" defer></script>

    <!-- favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/static/favicon/apple-touch-icon.png"
    >
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/static/favicon/favicon-32x32.png"
    >
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/static/favicon/favicon-16x16.png"
    >
    <link rel="manifest" href="/static/favicon/site.webmanifest">
  </head>
  <body class="flex flex-col items-center w-full h-screen">
    <div>
      <h1 class="text-xl font-bold text-cyan-500">
        Libelula Inc.
      </h1>
      <button class="border border-cyan-500 btn-outline">
        Vender
      </button>
    </div>
  </body>
</html>
